{% extends "/index/layout.html" %}
{% block content %}
    <div class="article">
       <div class="contact">
            <h3>Campus+</h3>
            <h5>Email : elsanal1995@gmail.com</h5>
            <h5>Telephone :  +86 150 2209 4681</h5>
            <h5>Facebook : <a href="https://www.facebook.com/Top2TopBest">Cliquez ici pour visiter notre page Facebook</a></h5>
            <h5>WhatsApp : <a href="https://chat.whatsapp.com/Hes9l5bH5Vg2xxFwU1mTBJ">Cliquez ici pour integrer notre groupe Whatsapp</a></h5>
            <h5>Youtube : <a href="https://www.youtube.com/channel/UCznjjnUE9kvHlg_pBobDm5Q?view_as=subscriber">Cliquez ici pour voir nos videos sur Youtube</a></h5>
       </div>
    </div>
 
{% endblock content %}
