{% extends "/index/layout.html" %}
{% block content %}
    <div class="article">
        <div class="article-col">
            <div>
                <div class="categorie">
                     <h5>Comment avoir une bonne bourse</h5>
                </div>
                {% for scho in country_scho %}
                <section class="grid">
                    <div class="main-col">
                        <div class="name">
                            <h6> title</h6>
                        </div>
                        <div class="major">
                            <h6>Description</h6>
                        </div>
                    </div> 
                </section>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

