{% extends "/index/layout.html" %}
{% block content %}
    <div class="article">
        {% for doc in docs %}
        <section class="grid">
            <div class="logo">
                <img src={{doc['logo']}} alt="">
            </div>
            <div class="main-col">
                <div class="name">
                    <a href="{{url_for('job_details',index = loop.index-1)}}">{{doc['name']}}</a>
                </div>
                <div class="description">
                    {{doc['description']}}
                </div>
            </div>
            <div class="apply">
                <h6>Pays : {{doc['country']}}</h6>
                <p> Date limite : </p>
                <p> {{doc['deadline']}}</p>
                <h6><a href="{{url_for('job_details',index = loop.index-1)}}">Cliquez ici pour plus d'informations.</a></h6>    
            </div>   
        </section>   
        {% endfor %}
    </div>
 
{% endblock content %}