{% extends "/index/layout.html" %}
{% block content %}
    <div class="article">
        <div class="article-col">
            <div>
                <div class="categorie">
                     <h5>Les mythes derriere les bourses</h5>
                </div>
                {% for index in range(0,(((myth|length)/2)|round|int)) %}
                <section class="grid2">
                    <div class="main-col">
                        <div class="name">
                            <h6>{{myth[index]['title']}}</h6>
                        </div>
                        <div class="major">
                            <h6>{{myth[index]['description']}}</h6>
                        </div>
                    </div> 
                </section>
                {% endfor %}
            </div>
            <div>
                <div class="categorie">
                     <h5>Les mythes derriere les bourses</h5>
                </div>
                {% for index in range((((myth|length)/2)|round|int),(myth|length) ) %}
                <section class="grid2">
                    <div class="main-col">
                        <div class="name">
                            <h6>{{myth[index]['title']}}</h6>
                        </div>
                        <div class="major">
                            <h6>{{myth[index]['description']}}</h6>
                        </div>
                    </div> 
                </section>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

