{% extends "/index/layout.html" %}
{% block content %}
    <div class="article">
        <div class="categorie">
            <h6>Selectionnez un pays pour voir les offres de bourses disponibles </h6>
        </div>
        <div class="country-card">
            {% for country in countries %}
                <section class="country-card-col">
                    <div class="name">
                        <a href="{{url_for('scholarship_country', country = country)}}">{{country}}</a>
                    </div> 
                </section>
            {% endfor %}  
        </div>
    </div>
{% endblock content %}