{% extends "/index/layout.html" %}
{% block content %}
    <div class="article">
        <div class="article-col">
            <div>
                <div class="categorie">
                     <h5>Top bourses populaires</h5>
                </div>
                {% for index in range(0, (((famous_uni|length)/2)|round|int)) %}
                <section class="grid2">
                    <div class="logo">
                        <img src={{famous_uni[index][0]['logo']}} alt="">
                    </div>
                    <div class="main-col">
                        <div class="name">
                            <a href="{{url_for('university_details',index = famous_uni[index][1])}}">{{famous_uni[index][0]['name']}}</a>
                            <div class="deadline">
                                <h6>date limite : {{famous_uni[index][0]['deadline']}}</h6>
                            </div> 
                        </div>
                        <div class="major">
                            {{famous_uni[index][0]['description']}}
                        </div>
                    </div>
                </section>
                {% endfor %}
            </div>
            <div>
                <div class="categorie">
                     <h5>Top bourses populaires</h5>
                </div>
                {% for index in range((((famous_uni|length)/2)|round|int),(famous_uni|length) ) %}
                <section class="grid2">
                    <div class="logo">
                        <img src={{famous_uni[index][0]['logo']}} alt="">
                    </div>
                    <div class="main-col">
                        <div class="name">
                            <a href="{{url_for('university_details',index = famous_uni[index][1])}}">{{famous_uni[index][0]['name']}}</a>
                            <div class="deadline">
                                <h6>date limite : {{famous_uni[index][0]['deadline']}}</h6>
                            </div> 
                        </div>
                        <div class="major">
                            {{famous_uni[index][0]['description']}}
                        </div>
                    </div>
                </section>
                {% endfor %}
            </div>
        </div>  
    </div>
 
{% endblock content %}

