{% extends "/index/layout.html" %}
{% block content %}
    <div class="article">
        <div class="article-col">
            <div>
                <div class="categorie">
                    <h5>Universités ouvertes</h5>
               </div>
                    {% for doc in docs %}
                    <section class="grid">
                        <div class="logo">
                            <img src={{doc['logo']}} alt="">
                        </div>
                        <div class="main-col">
                            <div class="name">
                                <a href="{{url_for('university_details',index = loop.index-1)}}">{{doc['name']}}</a>
                            </div>
                            <div class="major">
                                {{doc['majors']}}
                            </div>
                        </div> 
                    </section>
                    {% endfor %}
            </div>
            <div>
                <div class="categorie">
                     <h5>Universités gratuites ou à faible coût</h5>
                </div>
                {% for doc in docs %}
                <section class="grid">
                    <div class="logo">
                        <img src={{doc['logo']}} alt="">
                    </div>
                    <div class="main-col">
                        <div class="name">
                            <a href="{{url_for('university_details',index = loop.index-1)}}">{{doc['name']}}</a>
                        </div>
                        <div class="major">
                            {{doc['majors']}}
                        </div>
                    </div> 
                </section>
                {% endfor %}
            </div>       
        </div>  
    </div>
 
{% endblock content %}