{% extends "/index/layout.html" %}
{% block content %}
    <div class="article">
        <div class="article-col">
            <div>
                <div class="categorie">
                    <h5>Nouvelles bourses</h5>
               </div>
                    {% for index in range(0,6)%}
                    <section class="grid">
                        <div class="logo">
                            <img src={{docsScho[index]['logo']}} alt="">
                        </div>
                        <div class="main-col">
                            <div class="name">
                                <a href="{{url_for('scholarship_details',index = index)}}">{{docsScho[index]['name']}}</a>
                                <div class="deadline">
                                    <h6> Date limite : {{docsScho[index]['deadline']}}</h6> 
                                </div>
                            </div>
                            <div class="major">
                                {{docsScho[index]['advantage']}}
                            </div>
                        </div> 
                    </section>
                    {% endfor %}
            </div>
            <div>
                <div class="categorie">
                     <h5>Universités ouvertes</h5>
                </div>
                {% for index in range(0,6) %}
                <section class="grid">
                    <div class="logo">
                        <img src={{docsUni[index]['logo']}} alt="">
                    </div>
                    <div class="main-col">
                        <div class="name">
                            <a href="{{url_for('university_details',index = index)}}">{{docsUni[index]['name']}}</a>
                        </div>
                        <div class="major">
                            {{docsUni[index]['description']}}
                        </div>
                    </div> 
                </section>
                {% endfor %}
            </div>  
            <div>
                <div class="categorie">
                     <h5>Universités ouvertes</h5>
                </div>
                {% for index in range(0,6) %}
                <section class="grid">
                    <div class="logo">
                        <img src={{docsUni[index]['logo']}} alt="">
                    </div>
                    <div class="main-col">
                        <div class="name">
                            <a href="{{url_for('university_details',index = index)}}">{{docsUni[index]['name']}}</a>
                        </div>
                        <div class="major">
                            {{docsUni[index]['description']}}
                        </div>
                    </div> 
                </section>
                {% endfor %}
            </div>
            <div>
                <div class="categorie">
                     <h5>Nos conseils</h5>
                </div>
                {% for index in range(0,6) %}
                <section class="grid">
                    <div class="logo">
                        <img src={{docsUni[index]['logo']}} alt="">
                    </div>
                    <div class="main-col">
                        <div class="name">
                            <a href="{{url_for('university_details',index = index)}}">{{docsUni[index]['name']}}</a>
                        </div>
                        <div class="major">
                            {{docsUni[index]['description']}}
                        </div>
                    </div> 
                </section>
                {% endfor %}
            </div>          
        </div> 
    </div>
 
{% endblock content %}