<!DOCTYPE html>
<html lang="en">
    <head>
            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <script data-ad-client="ca-pub-6452396354959679" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='mainpage.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='details.css')}}">

        <title>
            {% if title %}
                Campus Plus {{ title }}
            {% else %}
                Campus Plus
            {% endif %} 
        </title>

    </head>
    <body>
        <div class="container">
            <header >
                <div class=" container middle top-menu-bar">
                    <div class="menu">
                        <ul>
                            <li><a href="{{url_for('home')}}">Accueil</a></li>
                            <li><a href="{{url_for('scholarship')}}">Bourses</a></li>
                            <li><a href="{{url_for('university')}}">Universités</a></li>
                            <li><a href="{{url_for('jobStage')}}">Jobs&Stages</a></li>
                            <li><a href="{{url_for('scholarship_by_country')}}">Bourses/Pays</a></li>
                            <li><a href="{{url_for('best_uni_by_country')}}">Meilleures universités/pays</a></li>
                            <li><a href="{{url_for('contact')}}">Contacts</a></li>
    
                            <!-- <li><a href="{{url_for('login')}}">Se connecter</a></li>
                            <li><a href="{{url_for('register')}}">S'inscrire</a></li> -->
                        </ul>
                    </div>
                    <div class="search-box">
                        <ul>
                            <li>
                                <form>
                                    <input type="text" name="Recherche" placeholder="Recherchez...">
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-2">
                        <ul>
                            <li><a href="{{url_for('how_to_get_scho')}}">Comment avoir une bourse</a></li>
                            <li><a href="{{url_for('how_to_get_uni')}}">Comment avoir une université</a></li>
                            <li><a href="{{url_for('myth_scho')}}">Les mythes derriere les bourses</a></li>
                            <li><a href="{{url_for('popular_scho')}}">Les bourses populaires</a></li>
                            <li><a href="{{url_for('top_uni')}}">Top universités</a></li>
                        </ul>
                    </div> 
              </div>    
            </header>
            <div class="content">
                <div class="icon">
                    <ul>
                        <li>Suivez nous sur les reseaux sociaux : </li>
                        <li><a href="https://www.facebook.com/Top2TopBest" target="new"><img src="{{url_for('static', filename='img/facebook.jpg')}}"></a></li>
                        <li><a href="https://chat.whatsapp.com/Hes9l5bH5Vg2xxFwU1mTBJ" target="new"><img src="{{url_for('static', filename='img/whatsapp.jpg')}}"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCznjjnUE9kvHlg_pBobDm5Q?view_as=subscriber" target="new"><img src="{{url_for('static', filename='img/youtube.jpg')}}"></a></li>
                        <!-- <li><a href="{{url_for('contact')}}" target="new"><img src="{{url_for('static', filename='img/wechat.jpg')}}"></a></li>
                        <li><a href="{{url_for('contact')}}" target="new"><img src="{{url_for('static', filename='img/gmail.jpg')}}"></li>    -->
                    </ul>
                </div>
                {% block content %}
                {% endblock content %}
            </div>
                
                    <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>        
        </div>    
    </body>
</html>




