<!DOCTYPE html>
<html lang="en">
    <head>
            <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <script data-ad-client="ca-pub-6452396354959679" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='mainpage.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='details.css')}}">

        <title>
            {% if title %}
                Campus Plus {{ title }}
            {% else %}
                Campus Plus
            {% endif %} 
        </title>

    </head>
    <body>
        <div class="container">
            <header >
                <div class="top-menu-bar">
                    <div class="menu">
                        <ul>
                            <li><a href="{{url_for('home')}}">Se deconnecter</a></li>
                            <li><a href="{{url_for('makeScho')}}">Ajouter une bourse</a></li>
                            <li><a href="{{url_for('makeUni')}}">Ajouter une université</a></li>
                            <li><a href="{{url_for('makeJob')}}">Ajouter une offre d'emploi</a></li>
                            <li><a href="{{url_for('makeVideo')}}">Ajouter une video</a></li>
                        </ul>
                    </div>
                    <div class="app_logo">
                        <ul>
                            <li>
                                <img src="{{url_for('static', filename='img/app_logo_1.png')}}" alt="">
                            </li>
                            <li>
                                <div class="sp">

                                </div>
                            </li>
                            <li>
                                <img src="{{url_for('static', filename='img/app_logo_1.png')}}" alt="">
                            </li>
                            <li>
                                <div class="sp">

                                </div>
                            </li>
                            <li>
                                <img src="{{url_for('static', filename='img/app_logo_1.png')}}" alt="">
                            </li>
                        </ul>
                    </div>
              </div>    
            </header>
            <div class="content">
                {% block content %}
                    <div class="admin">Admin page</div>
                {% endblock content %}
            </div>
                
                    <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>        
        </div>    
    </body>
</html>


