{% extends "index/layout.html" %}
{% block content %}
    <div class="content-section">
        <form action="" method="POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="bottom-border">New Scholarship</legend>
                <div class="form-group">
                    {{form.scholarship_name.label(class="form-control-label")}}
                    {{form.scholarship_name(class="form-control form-control-label")}}
                </div>
                <div class="form-group">
                    {{form.country.label(class="form-control-label")}}
                    {{form.country(class="form-control form-control-label")}}
                </div>
                <div class="form-group">
                    {{form.level.label(class="form-control-label")}}
                    {{form.level(class="form-control form-control-label")}}
                </div>
                <div class="form-group">
                    {{form.description.label(class="form-control-label")}}
                    {{form.description(class="form-control form-control-label")}}
                </div>
                <div class="form-group">
                    {{form.advantage.label(class="form-control-label")}}
                    {{form.advantage(class="form-control form-control-label")}}
                </div>
                <div class="form-group">
                    {{form.condition.label(class="form-control-label")}}
                    {{form.condition(class="form-control form-control-label")}}
                </div>
                <div class="form-group">
                    {{form.how_to_apply.label(class="form-control-label")}}
                    {{form.how_to_apply(class="form-control form-control-label")}}
                </div>
                <div class="form-group">
                    {{form.web.label(class="form-control-label")}}
                    {{form.web(class="form-control form-control-label")}}
                </div>
                <div class="form-group">
                    {{form.popular.label(class="form-control-label")}}
                    {{form.popular(class="form-control form-control-label")}}
                </div>
                <div class="form-group">
                    {{form.deadline.label(class="datepicker")}}
                    {{form.deadline(class="datepicker")}}
                </div>
                <div>
                    {{form.logo.label()}}
                    {{form.logo(class="form-control-file")}}
                </div>
            </fieldset>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
{% endblock content %}