{% extends "index/layout.html" %}
{% block content %}
    <div class="article">
        <div class="detail">
            <div class="title">
                 <p>{{document['name']}}</p>
            </div>
            <div class="body">
                <div class="grid">
                    <h4>Pays : </h4>
                    <h3>{{document['country']}}</h3>
                </div>
                <div class="grid">
                    <h4>Niveaux :</h4>
                    <h3>{{document['level']}}</h3>
                </div>
                <div class="grid">
                    <h4>Date limite :</h4>
                    <h3>{{document['deadline']}}</h3>
                </div>
                <h6>Description :</h6>
                <h5>{{document['description']}}</h5>
                <h6>Avantages :</h6>
                <h5>{{document['advantage']}}</h5>
                <h6>conditions :</h6>
                <h5>{{document['condition']}}</h5>
                <h6>Comment postuler :</h6>
                <h5>{{document['HowToApply']}}</h5>
            </div>
            <div class="button-apply">
                <a href={{document['webUrl']}}>Postuler</a>
            </div>
        </div>
    </div>
  
{% endblock content %}