{% extends "/index/layout.html" %}
{% block content %}
    <div class="article">
        <div class="article-col">
            <div>
                {%if country_scho|length > 0 %}
                        <div class="categorie">
                                <h5>Les bourses disponibles</h5>
                        </div>
                        {% for scho in country_scho %}
                        <section class="grid">
                            <div class="logo">
                                <img src={{scho[0]['logo']}} alt="">
                            </div>
                            <div class="main-col">
                                <div class="name">
                                    <a href="{{url_for('university_details',index = scho[1])}}">{{scho[0]['name']}}</a>
                                </div>
                                <div class="major">
                                    {{scho[0]['description']}}
                                </div>
                            </div> 
                        </section>
                        {% endfor %}
                {% else %}
                <section class="grid">
                    <div class="main-col">
                        <div class="major">
                            Il n'y a pas de bourses disponibles pour le moment, revenez plus tard. 
                        </div>
                    </div> 
                </section>
                {% endif%}
            </div>
        </div>
    </div>
 
{% endblock content %}

