{% extends "index/layout.html" %}
{% block content %}
    <div class="article">
        <section class="detail">
            <div class="logo">
                <img src={{document['logo']}} alt="">
            </div>
            <div class="mi-col">
                <div class="title">
                    {{document['name']}}
                </div>
                <div class="description">
                    {{document['description']}}
                    {{document['majors']}}
                </div>
            </div>
            <div class="apply">
                <h6>Pays : {{document['country']}}</h6>
                <h6><a href="{{document['webUrl']}}">Cliquez ici pour plus d'informations.</a></h6>    
            </div>   
        </section> 
    </div>
  
{% endblock content %}