.detail{
    display: grid;
    background-color: white;
    width: fit-content;
    grid-template-columns: auto auto auto;
    height: fit-content;
    margin-left: 60px;
    padding: 50px;
    box-shadow: 0 4px 8px grey
}

.detail .logo{
    margin-right: 10px;  
}
.detail .logo img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
 .detail .mi-col{
    width: 500px;
}

.mi-col .title{
    text-align: center;
    font-weight: 900;
    text-decoration-line: underline;
    background-color: red;
    padding: 15px;
    margin-bottom: 30px;
}

.mi-col .title p{
    font-size: 25px;
}
.mi-col .description{
    display: grid;
    margin: 10px;
    padding: 0px;
    grid-template-columns: auto auto;
    width: fit-content;
    height: fit-content;
    padding: 20px;
}


.detail .apply{
    width: fit-content;
    height: fit-content;
    margin-top: 120px;
    text-align: left;
    font-size: 20px;
    border: 2px solid black;
    
}

.detail .apply h6{
    color: black;
    text-align: left;
}
.detail .apply p{
    color: red;
    text-align: left;
}