.article{
    width: 100%;
    background-color: white;
    position: static ;
    padding: 10px;;
}

.article .article-col{
    display: grid;
    background-color: whitesmoke;
    height: fit-content;
    width: fit-content;
    grid-template-columns: auto auto;
} 


.article-col .grid{
    display: grid;
    padding-top: 10px;
    margin-bottom: 25px;
    margin-left: 35px;
    background-color: whitesmoke;
    height: 150px;
    width: fit-content;
    grid-template-columns: auto auto auto;
    grid-auto-columns: auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px grey
} 

.article-col .grid2{
    display: grid;
    padding: 15px;
    margin-bottom: 25px;
    margin-left: 35px;
    background-color: whitesmoke;
    height: fit-content;
    width: fit-content;
    grid-template-columns: auto auto;
    grid-auto-columns: auto auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px grey
} 

.article-col .categorie{
    margin-left: 35px;
    margin-bottom: 5px;
    width: fit-content;
    height: fit-content;
    padding-left: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    background-color:green;   
}

.logo{
    margin-left: 10px;  
}
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.main-col{
    width: 400px;
    text-align: center;
}
.main-col .name{
    width: fit-content;
    text-align: center;
}
.main-col .name a{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-weight: 20px;
    text-decoration-line: underline;
    background-color: black;
    margin-bottom: 30px;
    padding:5px;

}

.main-col .name a:hover{
    background-color:red;
    color:black;
}


.main-col .major{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 20px;
    margin-top: 20px; 
    margin-left: 15px;
    color: black;
    text-align: left;
    width: 400px;
    
}


.deadline{
    text-align: start;
    padding-top: 20px;
    margin-left: 10px;
    height: fit-content;
}

.deadline h6{
    margin-left: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: inherit;
    color: red;
    text-align: center;
    
}

.apply h6 a{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    color: black;
}

.contact{
    background-color:whitesmoke;
    width: 800px;
    height: 500px;
    border-radius:20px;
    margin-left: 120px;
    margin-bottom: 500px;
    box-shadow: 10px 10px 10px  grey ;
    
}

.contact h3{
    text-align: center;
    padding-top: 40px;
    margin-top: 50px;
    font-weight: bolder;
}

.contact h5{

    padding-left: 40px;
    margin-top: 50px;
}

.categorie{
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 5px;
    width: 700px;
    height: fit-content;
    padding-left: 3px;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-right: 3px;
    background-color:green;   
}

.categorie h6{
    color: white;
}

.country-card{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-auto-columns: auto auto auto auto auto auto;
    width: fit-content;
    align-content: space-around;
     
}

.country-card .country-card-col{
    width: fit-content;
    height: max-content;
    border-radius: 10px;
    background-color:whitesmoke;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 30px;
    padding: 20px;
}

.country-card-col .name{
    align-content: center;
    text-align: left;
    width: fit-content;
    align-self:center;
    margin-bottom: 5px;
}
.country-card-col .name a{
    font-size: 16px;
    font-weight: bold;
    color: black;   
}

.country-card-col .name a:hover{
    background-color:red;
    color: black;   
}

.btnDropdown{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; 
}

.dropdown{
    display: none;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content title a{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: black;

}

.dropdown:hover .dropdown-content{
    display: block;
  }