body{
    align-self: center;
    background-color:whitesmoke;
    background-image: url(img/body_back2.jpg);
    background-position-x: right;
    background-position-y: center;
    position: relative;
    
}
.container{
    width: fit-content;
    background-color:whitesmoke;
    padding-bottom: 20px;
    min-width: 1100px;
}

.top-menu-bar{
    height: fit-content;
    width: fit-content;
    min-width: 900px;
    display: block;
    background-color:whitesmoke;
    background-repeat: space;
    background-origin: content-box;
    background-blend-mode: lighten;
    background-size:contain;  
}
.top-menu-bar .menu ul li:hover{
    background-color : black;
    color: red;
}
.top-menu-bar .menu-2 ul li:hover{
    background-color : black;
    color: red;
}

.top-menu-bar.menu{
    width: fit-content;
    height:fit-content;
    position: fixed; 
}

.top-menu-bar .menu ul {
    height: fit-content;
    background-color: indigo;
}
.top-menu-bar .menu ul li{
display: inline-block;
padding-top: 15px;
padding-bottom: 15px;
text-align: center;
vertical-align: middle;
align-content: center;
}
.top-menu-bar .menu ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size:16px;
    padding: 25px;
}

.top-menu-bar .menu-2{
    width: fit-content;
    height:fit-content;
}

.top-menu-bar .menu-2 ul {
    height: fit-content;
    background-color: indigo;
    /* margin-top: 3%; */
}
.top-menu-bar .menu-2 ul li{
display: inline-block;
padding-top: 15px;
padding-bottom: 15px;
text-align: center;
vertical-align: middle;
align-content: center;
}

.top-menu-bar .menu-2 ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size:16px;
    padding: 10px;
}

.top-menu-bar .app_logo{
    height: fit-content;
    width: fit-content; 
}

.top-menu-bar .app_logo ul{
    height: fit-content;
    width: 100%;  
}

.top-menu-bar .app_logo ul li{
    display: inline-block;
}

.top-menu-bar .app_logo ul li img{
height: 170px;
width: 170px;
}
.top-menu-bar .app_logo ul li .sp{
    /* height: 150px; */
    width: 120px;
    margin-right: 110px;
}

.top-menu-bar .search-box{
 margin-top: 150px; 
 margin-left: 310px;
 position: sticky;  
}
.search-box ul li{
    display: inline-block;
}
.top-menu-bar .search-box .form-control{
    width: 350px;
    border-radius: 5px;
}
.top-menu-bar .search-box .input-group-text {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
 .icon{
     height: fit-content;
     width: fit-content;
     padding-left: 0%;
     align-items: flex-end; 
 }
 input{
    width: 180px;
    box-sizing: border-box;
    border: 2px solid indigo;
    border-radius: 4px;
    font-size: 16px;
    background-color:white;
    background-image: url('img/search-icon.jpg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
  input:focus{
    width: 400px;
  }

.icon ul{
    align-content: flex-end;
}
.icon ul li{
    display: inline-block;
    margin: 5px;
    font-family: cursive;
}
.icon ul li a img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.content{
    /* background-color:white; */
    border: 1px solid black;
    margin-top: 0px;
    position: static;
    /* padding-bottom: 200px; */
    /* padding-top: 200px; */
    width: 100%;
   
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-right: 100px;
    margin-left: 100px;
    
}

.content-section .form-control-label{
    width: 100%;
}

img{
    width: fit-content;
    height: fit-content;
}

